.digits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  margin: 1rem 10rem;
  font-size: 2rem;
}